
<form action='/searches' method="post">
<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
<label for="q">Search for:</label>
<input id='q' name='q' type='text' />
<input type="submit" value="Search" />
</form>